<p style="height: 48px;">
  <!-- <mat-toolbar style="background-color: #ECAB53; color: white;"> -->
  <mat-toolbar > 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <div class="avatar" (click)="openChangeUsernameDialog()">
      <img [src]="avatarUrl" alt="Avatar">
      
    </div>
    <span class="username">Welcome, {{ username }}</span>
    <!-- <span class="username">Welcome, {{ username }}</span> -->
    <button  class="logout" (click)="logout()">Log Out</button>

  </mat-toolbar>
  
</p>